path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line, .y.axis line {
    stroke: lightgrey;
}

.x.axis path, .y.axis path {
    stroke: lightgrey;
}

.explanation {
    font-size: 12px;
    color: gray;
}

.controls {
    padding: 16px;
}