path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

.graph_container--threshold path {
    stroke: url(#gradient);
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line, .y.axis line {
    stroke: lightgrey;
}

.x.axis path, .y.axis path {
    stroke: lightgrey;
}

.explanation {
    font-size: 12px;
    color: gray;
}

.controls {
    padding: 16px;
}

.ui-field-contain label {
    height: 2em;
}

.logo {
  //background-image: url('uom_logo.png');
  //background-repeat: no-repeat;
  //background-size: 118px 50px;
  //background-position: center;
  //height: 50px;
   float: left;
   margin : 25px;
   height : 50px;
   width: 118px;
}

nav {
    width: 100%;
}

.ui-content {
    clear: both;
}

.nav-container {
    //padding: 25px;
}

a.nav-link {
    white-space: normal;
}
